{% extends 'head.html.twig' %}


{% block body %}
<!-- Ec breadcrumb start -->
<div class="sticky-header-next-sec ec-breadcrumb section-space-mb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row ec_breadcrumb_inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="ec-breadcrumb-title">register</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <!-- ec-breadcrumb-list start -->
                        <ul class="ec-breadcrumb-list">
                            <li class="ec-breadcrumb-item">
                                <a href="/">Home</a>
                            </li>
                            <li class="ec-breadcrumb-item active">register</li>
                        </ul>
                        <!-- ec-breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ec breadcrumb end -->
<section class="ec-page-content section-space-p">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2 class="ec-bg-title">Register</h2>
                    <h2 class="ec-title">Register</h2>
                    <p class="sub-title mb-3">Best place to buy and sell digital products</p>
                </div>
            </div>
            <div class="ec-register-wrapper">
                <div class="ec-register-container">
                    <div class="ec-register-form">


                        <form method="post">
                            <span class="ec-register-wrap ec-register-half">
                                <label>First Name*</label>
                                <input type="text" name="firstname" placeholder="Enter your first name" required="">
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label>Last Name*</label>
                                <input type="text" name="lastname" placeholder="Enter your last name" required="">
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label>Email*</label>
                                <input type="email" name="email" placeholder="Enter your email add..." required="">
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label>Password *</label>
                                <input type="password" name="password" placeholder="password">
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label>Phone Number*</label>
                                <input type="text" name="phonenumber" placeholder="Enter your phone number" required="">
                            </span>

                            <span class="ec-register-wrap ec-register-half">
                                <label>Gender *</label>
                                <span class="ec-rg-select-inner">
                                    <select name="Gender" required="" id="Gender" class="ec-register-select"
                                        style="width:-webkit-fill-available">
                                        <option>Male</option>
                                        <option>Famle</option>
                                    </select>
                                </span>
                            </span>
                            <span class="ec-register-wrap ec-register">
                                <label>Address *</label>
                                <input type="text" name="address" placeholder="Address ">
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label>Country *</label>
                                <span class="ec-rg-select-inner">
                                    <select name="country" id="ec-select-country" class="ec-register-select"
                                        onchange="populateStates()" style="width:-webkit-fill-available">
                                        <option selected disabled>Country</option>
                                    </select>
                                </span>
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label>Region/State *</label>
                                <span class="ec-rg-select-inner">
                                    <select name="state" id="ec-select-state" class="ec-register-select"
                                        onchange="populateCities()">
                                        <option selected disabled>Region/State</option>
                                    </select>
                                </span>
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label>City *</label>
                                <span class="ec-rg-select-inner">
                                    <select name="city" id="ec-select-city" class="ec-register-select">
                                        <option selected disabled>Select city</option>
                                    </select>
                                </span>
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label>Post Code</label>
                                <input type="text" name="postcode" placeholder="Post Code">
                            </span>
                            <span class="ec-register-wrap ">
                                <label>
                                    <a href="/login" style="width: auto;" type="submit">Do you already
                                        have an
                                        account?</a>
                                </label>
                            </span>

                            <span class="ec-register-wrap" style="display: flex;justify-content: space-evenly;">

                                <button class="btn btn-primary" type="submit">Register</button>

                            </span>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% if check %}
{% if check == false %}
<script>
    Swal.fire({
        position: "center",
        icon: "error",
        text: "error",
        showConfirmButton: false,
        timer: 2000,
        timerProgressBar: true
    }).then((result) => {});

</script>
{% elseif check == true %}
<script>
    Swal.fire({
        position: "center",
        icon: "success",
        text: "ok",
        showConfirmButton: false,
        timer: 2000,
        timerProgressBar: true
    }).then((result) => {});

</script>
{% endif %}
{% endif %}



<script src="{{ path('private_asset', {'filename': 'register.js'}) }}"></script>

{% endblock %}
